body{
    border: width 5px;
    border: dotted ;
}

h1 {
    background-color: rgb(196, 139, 16);
    text-align: center;
}

.PrimerTitulo {
    text-align: right;
    background-color: rgb(0, 60, 255);
    color: aliceblue;
    
}

.PrimeraTabla {
    background-color: rgb(166, 166, 166);
    border: 2px solid black;
    margin: 9px;
    padding-top: 8px;
    padding-bottom: 3px;

}

.Fotografia{
    color: red;
    font-size: 22px;
}

.historia{
    color: blue;
    text-decoration: underline;
}

.CamarasDigitales{
    background-color: rgb(185, 255, 80);
    border: 4px solid black;
}

.camaras{
    color: blue;
    text-decoration: underline;
}

.fondomorado{
    background-color: pink;
}

.camaras_compactas{
    color: greenyellow;
}
.camaras_instantaneas{
    color:cadetblue;
    font-size: 27px;
    border-bottom: 5px double pink;
}
.Consejos{
    background-color: rgb(185, 255, 80);
    border: 4px solid black;
}
.principiante{
    color: blue;
    text-decoration: underline;
}
.Tabla_comienza{
    background-color: rgb(135, 137, 132);
    border: 2px solid black;
     margin: 9px;
    padding-top: 8px;
    padding-bottom: 8px;
}
.tabla_final{
    text-align: center;
}
